<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="main.css" type="text/css">
		<script src="jquery.min.js"></script>
		<script src="main.js"></script>
	</head>
	<body>
		{{{ content }}}
	</body>
</html>